<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
 <%if session.fetch(:user_id) == nil%>
<li>
<a href="/user_sign_up">Sign up</a>
|
<a href="/user_sign_in">Sign in</a>
</li>
<%else%>
<a href="/todos">Your todo list</a>
|
<a href="/edit_user_profile">Edit profile</a>
|
<a href="/user_sign_out">Sign out</a>
<%end%>
    <%= yield %>
  </body>
</html>
